<html lang="fr">
<head>
    <meta name="description" content="Liens Tsuna">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tsuna</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap">
    <link rel="icon" href="https://bcldvd.github.io/linktree-tsuna/favicon.ico">

    <!-- Open Graph data -->
    <meta property="og:title" content="Tsuna" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="/" />
    <meta property="og:image" content="https://bcldvd.github.io/linktree-tsuna/tsuna-logo.png" />
    <meta property="og:description" content="Liens Tsuna" />
</head>

<body>
    <div class="header">
        <div class="inner-header flex">
            <h1>
                <img src="https://res.cloudinary.com/david-shokugeki/image/upload/v1663864657/Logo%20Tsuna.png" alt="Tsuna">
            </h1>
            <h2>La vie est trop courte pour se nourrir de banalités</h2>
            
            <div class="links flex">
                {{#each data}}
                    <a href="{{url}}">
                        <span><img src="{{icon}}" alt="{{name}}"></span>
                        <span>{{name}}</span>
                        </a>
                {{/each}}
            </div>
        </div>

    </div>
    <!--Header ends-->

    <script>
        history.scrollRestoration = "manual";
        const _isMobileSafari = () => {
            return navigator.userAgent.match(/(iPod|iPhone|iPad)/) && navigator.userAgent.match(/AppleWebKit/) ? true : false;
        }

        if (_isMobileSafari()) {
            window.scrollTo(0,document.body.scrollHeight);
        }
    </script>
</body>
</html>