body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

h1 {
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
  margin-top: 50px;
}

h1 img {
    height: 10vh;
    filter: drop-shadow(0px 0px 14px #d3301b);
    will-change: filter;
    animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {filter: drop-shadow(0px 0px 0px #d3301b);}
}

h2 {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 50px;
}

.header {
  position: relative;
  text-align: center;

  background: white;
  color: #d3301b;
}

.inner-header {
  height: 85vh;
  width: 100%;
  max-width: 680px;
  padding: 0;
  margin: 0 auto;
}

.links {
  width: 80%;
}

.links a {
  border: 2px solid #d3301b;
  border-radius: 2px;
  background: none;
  color: #d3301b;

  margin-bottom: 16px;

  padding: 16px 20px;

  line-height: 1.5;
  width: 100%;
  text-decoration: none;
}

.links a:hover {
    background: white;
    color: #061d39;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  flex-direction: column;
}
